In [12]:
import pandas as pd
import geocoder

### retrieve the data ''toronto.csv" generated from week 3-1

In [6]:
toronto = pd.read_csv('toronto.csv', usecols=[1,2,3])
toronto.head()

  Postcode                         Neighbourhood      Borough
0      M1B                         Rouge,Malvern  Scarborough
1      M1C  Highland Creek,Rouge Hill,Port Union  Scarborough
2      M1E       Guildwood,Morningside,West Hill  Scarborough
3      M1G                                Woburn  Scarborough
4      M1H                             Cedarbrae  Scarborough

In [8]:
boroughs = toronto.Borough.unique()
boroughs

array(['Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       "Queen's Park", 'Mississauga', 'Etobicoke'], dtype=object)

In [23]:
coordinates = pd.read_csv('Geospatial_Coordinates.csv')
coordinates.columns = names=['Postcode', 'Latitude', 'Longitude']
coordinates.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [24]:
res = pd.merge(toronto, coordinates, on='Postcode')
res.head()

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"Rouge,Malvern",Scarborough,43.806686,-79.194353
1,M1C,"Highland Creek,Rouge Hill,Port Union",Scarborough,43.784535,-79.160497
2,M1E,"Guildwood,Morningside,West Hill",Scarborough,43.763573,-79.188711
3,M1G,Woburn,Scarborough,43.770992,-79.216917
4,M1H,Cedarbrae,Scarborough,43.773136,-79.239476